.view-group-container {
    min-height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
}

.chat-button-return {
    margin-bottom: 20px;
}

button.accordion-button.collapsed {
    background: #ffe38e;
}

.chat-box {
    border: 1px solid #0000002d;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    height: 30vh;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.video-chat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.incoming-call-alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}
